@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #222;
  padding-bottom: 50px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.nav {
  position: fixed;
  background-color: #222;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  transition: all 0.3s ease-in-out;
}

.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.nav a {
  color: #fff;
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
}

.nav.active {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.nav.active a {
  color: #000;
}

.nav.active .container {
  padding: 10px 0;
}

.nav a.current,
.nav a:hover {
  color: #c0392b;
  font-weight: bold;
}

.hero {
  background: url('../../images/Waste-Management.jpg') center fixed;
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: -2;
}

.hero .hero-title {
    font-size: 80px;
    margin-bottom: 10vh;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.hero h1 {
  font-size: 46px;
  margin: -20px 0 20px;
}

.hero p {
  font-size: 20px;
  letter-spacing: 1px;
}

.facts-container {
    height: 50vh;
    background-color:rgba(224, 224, 224, 0.3);
}

.facts-container-flex {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.facts-number {
    text-align: center;
    font-size: 5rem;
    margin-bottom: 3vh;
    margin-top: 14vh;
}

.facts-info {
    font-size: 1.2rem;
}

.content h2,
.content h3 {
  font-size: 150%;
  margin: 20px 0;
}

.content p {
  color: #555;
  line-height: 30px;
  letter-spacing: 1.2px;
}

.visualization-container {
    height: 70vh;
    background: rgb(9, 116, 32);
    position: relative;
}

.visualization-banner {
    position: absolute;
    top: 23vh;
    color: white;
    width: 35%;
    font-size: 1.5rem;
}

.visualization-text{
    position: absolute;
    top: 8vh;
    left: 85%;
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    transform: translate(-80%, 20%);
    border-radius: 50%;
    box-shadow: 0 0 0 30px #ebffee;
    transition: 0.2s;
    text-align: center;
    float:right;
  }
  
  .visualization-text:hover {
    border-radius: 0;
    transition: 0.2s;
  }
  
  .visualization-text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ebffee;
    transform: rotate(45deg);
    z-index: -1;
  }

  .visualization-text p {
    position: absolute;
    color: black;
    top: 50%;
    margin: 0;
    padding: 20px;
    font-size: 26px;
    transform: translateY(-50%);
    font-family: fantasy;
    color: green;
    box-sizing: border-box;
  }
  .vis-link{
      display: block;
      text-decoration: none;
      color: #777777;
      font-size: 27px;
      padding: 0 40px;
        
  }
  .vis-link:hover {
      background-color: #3f3f3f;
      color:#e8e7e3;
  }

  .visualization-text:hover p {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    z-index: 1;
    transition: 0.2s;
  }

  .sorting-container {
      height: 50vh;
      color: rgba(224, 224, 224, 0.3);
  }

  .explanation-prompt {
    text-align: center;
    font-size: 3rem;
    color:green;
    font-family: fantasy;
    line-height: 40px;
    margin-top: 10vh;
  }

.sorting-btn {
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-decoration: none;
    display: block;
    margin-top: 10vh;
    font-size: 1.9rem;
    text-align: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
    color: white;
    background-color:rgb(59, 59, 59);
    transition: all .2s;
}
     
.sorting-btn:hover {
    background-color:rgb(39, 39, 39);
    cursor: pointer;
}



